<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let portText = prompt("How many portfolio items do you have?");
        let reviewText = prompt("How many review items do you have?");
        let eventText = prompt("How many events do you have?");
         location.href = `/form/${portText}/${reviewText}/${eventText}`
     </script>
</body>
</html>