{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static '/img/slider-img - Copy.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% block 'title' %}
    <title>Home - Portfolio Website Builder</title>
    {% endblock %} {% block 'style' %}
    <style>
      body {
        background-image: url("{% static '/img/phupwlp.png' %}");
      }
    </style>
        <!-- Bundle -->
        <link href="{% static 'css/bundle.min.css' %}" rel="stylesheet">
        <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
        <!-- Plugin Css -->
        <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
        <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
        <!-- Style Sheet -->
        <link href="{% static 'css/tootik.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/line-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.pagepiling.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <header>

      <!--Navigation-->
      <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
          <a href="{% url 'home' %}" title="Home" class="logo">
              <!--Logo Default-->
              <div class="mega-logo">
                  <img src="{% static 'img/slider-img - copy.png' %}" alt="logo" class="ml-lg-3 m-0">
              </div>
          </a>

          <!--Side Menu Button-->
          <div class="navigation-toggle">
              <ul class="slider-social toggle-btn my-0">
                  <li>
                      <a href="javascript:void(0);" class="sidemenu_btn" id="sidemenu_toggle">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </li>
              </ul>
          </div>
      </nav>

      <!--Side Nav-->
      <div class="side-menu hidden">
          <span id="btn_sideNavClose">
              <i class="lni lni-plus btn-close"></i>
          </span>
          <div class="inner-wrapper">
              <nav class="side-nav w-100">
                  <a href="{% url 'home' %}" title="Home" class="logo navbar-brand">
                      <img src="{% static 'img/slider-img - copy.png' %}" alt="logo">
                  </a>

                  {% if user.is_authenticated %}
                  <div class="text-center sidebar_btn">
                      <a href="{% url 'profile' %}"
                          class="btn btn-medium btn-rounded btn-yellow text-capitalize">Profile</a>
                  </div>
                  <div class="text-center sidebar_btn">
                      <a href="{% url 'logout' %}"
                          class="btn btn-medium btn-rounded btn-yellow text-capitalize">Logout</a>
                  </div>
                  {% else %}
                  <div class="text-center sidebar_btn">
                      <a href="{% url 'login' %}"
                          class="btn btn-medium btn-rounded btn-yellow text-capitalize">Login</a>
                  <div class="text-center sidebar_btn">
                      <a href="{% url 'register' %}"
                          class="btn btn-medium btn-rounded btn-yellow text-capitalize">Register</a>
                  {% endif %}
                  <!-- <div class="text-center sidebar_btn">
                      <a href="personal-hotspot/download-resume/resume.pdf" download
                          class="btn btn-medium btn-rounded btn-yellow text-capitalize">Download Resume</a>
                  </div> -->
              </nav>

                  <div class="side-footer w-100">
                      <ul class="social-icons-simple">
                          <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-facebook-filled"></i>
                              </a> </li>
                          <li><a class="social-icon" href="javascript:void(0)"><i
                                      class="lni lni-instagram-original"></i>
                              </a> </li>
                          <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-twitter"></i> </a>
                          </li>
                          <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-linkedin"></i> </a>
                          </li>
                      </ul>
                      <p>&copy; Priyanshu Mishra</p>
                  </div>
          </div>
      </div>
      <a id="close_side_menu" href="javascript:void(0);"></a>
  <!-- END HEADER -->
      
    </header>
    <div id="pagepiling"></div>
    {% block 'content' %}

    <main class="main-content">
      <h1>Portfolio Website Builder</h1>
      <img src="{% static 'img/slider-img - copy.png' %}" alt="Made by Priyanshu Mishra" />
      <nav class="home-nav">
      <ul>
          <li >
            <a  href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li >
            <a  href="{% url 'profile' %}">Profile</a>
          </li>
          <li >
            <a  href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li >
            <a  href="{% url 'login' %}">Login</a>
          </li>
          <li >
            <a  href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- <p class="home-quote">"If you don't like to read, you haven't found the right book yet!" <span>~ J. K. Rowling</span></p>
      <img src="{% static 'bg.jpg' %}" alt="" /> -->
    </main>
    {% endblock %}
    <footer>
      <p>© Priyanshu Mishra</p>
      <!-- <button onclick="themeToggle(this)" data-theme = "light">
        <ion-icon name="sunny"></ion-icon>
      </button> -->
    </footer>
    <!-- <script>
      function themeToggle(button) {
        let name = button.getAttribute("data-theme")
        if(name=="moon"){
          button.setAttribute("data-theme","sunny")
          document.documentElement.setAttribute("prefers-color-scheme","dark")
          
        }else{
          button.setAttribute("data-theme","moon")
          button.firstElementChild.name = "moon"
          document.documentElement.setAttribute("prefers-color-scheme","light")}
      }
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script> -->

    <!-- Start Copyright -->
    <div class="slider-bottom">
      <div class="slider-footer w-auto">
          <ul class="social-icons-simple">
              <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-facebook-filled"></i> </a> </li>
              <li><a class="social-icon" href="{{data.insta_ID}}"><i class="lni lni-instagram-original"></i> </a>
              </li>
              <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-twitter-filled"></i> </a> </li>
              <li><a class="social-icon" href="javascript:void(0)"><i class="lni lni-linkedin-original"></i> </a>
              </li>
          </ul>
      </div>
      <span class="slider-copyright text-grey">{{data.name}}</span>
  </div>

  <!-- JavaScript -->
  <script src="{% static 'js/bundle.min.js' %}"></script>

  <!-- Plugin Js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

  <script src='https://cdn.jsdelivr.net/npm/jquery.ripples@0.6.3/dist/jquery.ripples.min.js'></script>
  <script src="{% static 'js/jquery.appear.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>

  <!-- CUSTOM JS -->
  <script src="{% static 'js/jquery.pagepiling.min.js' %}"></script>
  <script src="{% static 'js/timeline.js' %}"></script>
  <script src="{% static 'js/contact_us.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
